/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
   font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-style: normal;
}

.btn {
  font-weight: 300;
  font-style: normal;
}

.every-page {
  margin-top: 30px;
}

$default-text-top-margin: 20px;

.smart-wide-column {
  @extend .col-xs-12;
  @extend .col-sm-10;
  @extend .col-md-8;
  @extend .col-lg-6;
}

.page-sessions-new {
  @extend .every-page;

  .email-block {
    padding-top: $default-text-top-margin;
  }
  .checkbox-block {
    width:150px;
    margin: $default-text-top-margin 0;
  }
  .bottom-links-block {
    margin-top: $default-text-top-margin;
  }
}

.page-index {
  // don't extend .every-page
}

.page-registrations-new {
  @extend .every-page;

  .email-block {
    padding-top: $default-text-top-margin;
  }
}

.page-passwords-new {
  @extend .every-page;

  .text-block {
    margin-top: $default-text-top-margin;
  }
}
